.intro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    h1 {
        font-size: 8vw;
        line-height: 0.9;
    }
    .intro-summary  {
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 15px;
        height: -webkit-fill-available;
        button {
            width: fit-content;
        }
    }
}
.intro-icons {
    display: flex;
    gap: 10px;
    align-items: center;
    i {
        font-size: clamp(24px, 5vw, 50px);;
    }
}

@media only screen and (max-width: 1024px) {
  .intro-container {
    flex-direction: column;
    align-items: baseline;
    gap: 20px;
  }
}