<p>(OLÁ, EU SOU O GABRIEL ARAÚJO)</p>
<br /><br />
<div class="intro-container">
    <h1>
        <span>FULL <span serifFont><i>stack</i></span></span>
        <br /> 
        <span>DEVELOPER</span>
    </h1>
    <div class="intro-summary">
        <p>Engenharia de software: unindo tecnologia avançada, identidade e resiliência.</p>
        <button styledButton (click)="openContactPopup()">Vamos conversar</button>
    </div>
</div>
<br/><br/>
<div class="intro-icons">
	<i class="devicon-angular-plain"></i>
    <i class="devicon-java-plain"></i>
	<i class="devicon-go-original-wordmark"></i>
	<i class="devicon-swift-plain"></i>
	<i class="devicon-amazonwebservices-plain-wordmark"></i>
	<i class="devicon-googlecloud-plain"></i>
</div>