.container {
    width: 70%;
    margin: 0 auto;

    .footer {
        text-align: center;

        p {
            color: var(--gray);
            padding: 20px;
        }

        hr {
            height: 3px;
            background-color: var(--gray);
            border: none;
            margin-top: 20px;
        }
    }
}