/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    font-family: 'BricolageGrotesque', sans-serif;
    color: var(--white);
    background-color: var(--black)
}

p {
    line-height: 1.6;
}

button {
    cursor: pointer;
}

:root {
    --black: #0A0A0C;
    --white: #FAF5F1;
    --gray: #414143;
    --light-gray: #A8A8A8;
}

@font-face {
    font-family: 'BricolageGrotesque';
    src: url('/fonts/BricolageGrotesque.ttf') format('truetype');
}

@font-face {
    font-family: 'Junicode';
    src: url('/fonts/Junicode-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Junicode';
    src: url('/fonts/Junicode-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Junicode-Cond';
    src: url('/fonts/Junicode-Cond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Junicode-Cond';
    src: url('/fonts/Junicode-CondItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Junicode-CondLight';
    src: url('/fonts/Junicode-CondLight.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'Junicode-CondLight';
    src: url('/fonts/Junicode-CondLightItalic.ttf') format('truetype');
    font-weight: light;
    font-style: italic;
}

@font-face {
    font-family: 'Junicode-CondMedium';
    src: url('/fonts/Junicode-CondMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Junicode-CondMedium';
    src: url('/fonts/Junicode-CondMediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Junicode-Exp';
    src: url('/fonts/Junicode-Exp.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Junicode-Exp';
    src: url('/fonts/Junicode-ExpBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Junicode-Exp';
    src: url('/fonts/Junicode-ExpBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Junicode-Exp';
    src: url('/fonts/Junicode-ExpItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Junicode-ExpMedium';
    src: url('/fonts/Junicode-ExpMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Junicode-ExpMedium';
    src: url('/fonts/Junicode-ExpMediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Junicode-ExpSmBold';
    src: url('/fonts/Junicode-ExpSmBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Junicode-ExpSmBold';
    src: url('/fonts/Junicode-ExpSmBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Junicode';
    src: url('/fonts/Junicode-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Junicode';
    src: url('/fonts/Junicode-Light.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'Junicode';
    src: url('/fonts/Junicode-LightItalic.ttf') format('truetype');
    font-weight: light;
    font-style: italic;
}

@font-face {
    font-family: 'Junicode';
    src: url('/fonts/Junicode-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Junicode';
    src: url('/fonts/Junicode-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Junicode';
    src: url('/fonts/Junicode-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Junicode-SmBold';
    src: url('/fonts/Junicode-SmBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Junicode-SmBold';
    src: url('/fonts/Junicode-SmBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Junicode-SmCond';
    src: url('/fonts/Junicode-SmCond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Junicode-SmCond';
    src: url('/fonts/Junicode-SmCondItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Junicode-SmCondLight';
    src: url('/fonts/Junicode-SmCondLight.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'Junicode-SmCondLight';
    src: url('/fonts/Junicode-SmCondLightItalic.ttf') format('truetype');
    font-weight: light;
    font-style: italic;
}

@font-face {
    font-family: 'Junicode-SmCondMedium';
    src: url('/fonts/Junicode-SmCondMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Junicode-SmCondMedium';
    src: url('/fonts/Junicode-SmCondMediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Junicode-SmExp';
    src: url('/fonts/Junicode-SmExp.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Junicode-SmExp';
    src: url('/fonts/Junicode-SmExpBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Junicode-SmExp';
    src: url('/fonts/Junicode-SmExpBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Junicode-SmExp';
    src: url('/fonts/Junicode-SmExpItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Junicode-SmExpMedium';
    src: url('/fonts/Junicode-SmExpMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Junicode-SmExpMedium';
    src: url('/fonts/Junicode-SmExpMediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Junicode-SmExpSmBold';
    src: url('/fonts/Junicode-SmExpSmBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Junicode-SmExpSmBold';
    src: url('/fonts/Junicode-SmExpSmBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}