:host {
    display: flex;
    gap: 50px;

    .projects-summary {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        button {
            width: fit-content;
        }
    }
    .projects {
        width: 100%;
        img  {
            width: 100%;
        }
    }
}