:host {
    display: flex;
    gap: 50px;

    .projects-summary {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        button {
            width: fit-content;
        }
    }
    .projects {
        width: 100%;
        img  {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 1024px) {
  :host {
    flex-direction: column;
    .projects-summary > button {
        margin-top: 20px;
    }
  }
}